<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather_icon2.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by Naveen Singh. It uses data from mapbox.com and weatherstack.com</p>
    </div>
    
    {{>footer}}
</body>

</html>