body {
    width:100vw;
    background-color: rgb(114, 145, 173);
    margin: 0


}

.main-content {
    
    color: #fcfcfc;
    font-family: arial;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
    color: white;
    text-align: center;
    padding-bottom: 16px;;
    margin-top: 16px;
    font-size: 20px;
    
    
    
    
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
   
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
    color: rgb(15, 236, 207);
}

header a {
    color: white;
    margin-right: 16px;
    text-decoration: none;
}
header a:hover{
    color: #ccd4cc;
}



input{
    border: 2px solid #cccccc;
    padding: 8px;
    border-radius: 10px;
}

button{
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
    border-radius: 10px;
    
    
}
button:hover{
    
    background: white;
    color: #888888;

    
    
}

#message-2{
    font-size: 20px;
}


#videoBG {
    position:fixed;
    z-index: -1;

}
@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #videoBG { 
        width:auto;
        height: 100%;
    }
}
@media (max-width: 767px) {
    #videoBG {
        display: none;
    }
    body {
        background: url('/img/rain.jpg');
        background-size: cover;
    }
}